$sidebar-width : 100%;
$sidebar-height :98vh;



$sidebar-bg-color : radial-gradient(rgb(38, 38, 41),rgba(102, 42, 92, 0.952));






@import "../../node_modules/react-pro-sidebar/dist/scss/styles.scss"
