.App {
  
  display: flex; 
  margin-top: 0px !important;

} 

/* .sidebar{
  width: 1600vw;
  height: 300vh;
} */



.topbar{
  opacity: 96%;
  
}
/* h5{
  color: white;
  font-size: 10px;
} */
.sidepage{
  padding: 5px;
  height: 700px;
}
.skill-listpage{
  background-image: linear-gradient(rgb(38, 36, 36),purple); ;
}
.skillsmenu{
  color: white;
  background-image: linear-gradient(rgb(38, 36, 36),purple);

}

.picture{
  height:590px;
  width: 100%;
  background-color: rgb(16, 15, 15);
  border-radius: 10px;
  margin-top: 0px!important;
}
.picture-text{
  font-size: 1.5rem;
  color: rgb(221, 170, 221);
  /* margin-top: 40px; */
  font-family: Georgia, 'Times New Roman', Times, serif
}



.first-section{
  display: flex;
  flex-direction: row !important;
  margin-top: 2%;
  margin-left: 300px;
}
li{
  font-size: 1.2rem;
  color: black;
  white-space: pre-line;
}
h4{
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  text-align: center !important;
}
img{
  height: 80%;
  width: 80%;
}

.skills{
  height:599px;
   width: 99%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
  text-align: left; 
}
.about{
  height:350px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
  color: black;
   text-align: left;
}
.cv-text{
  color: black;
}
.footer{
  background-image: linear-gradient(rgb(28, 27, 27),rgb(14, 13, 13));
  height:460px;
  width: 100%;
  border-radius: 9px;
  /* text-align: left; */
}
.footer-text{
  color: white;
  text-align: left;
  font-size: 12px;
}
.footer-head{
  color: rgb(198, 65, 198);
  font-size: 1.3rem;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.footer-div{
  text-align: right;
  margin-top: -30%;
  margin-right: 96px;
}
.contact{
  height:440px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
  text-align: left;
}
.contactdetails{
  color: purple;
  text-align: left;
}
.list{
  
  text-align: left;
}
.contact-text{
  color: black;
}
.contactnotes{
  color: black;
  border-width: 100%;
  font-size: 1.2rem;
}
.resume{
  height:200px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
  

}
.bar{
  height: 500px;
  border-width: 650px;
  width: 70%;
}
.second-section{
  padding-top: 9px;
}
.type{
  color: purple;
}
.cap{
  font-size:12px ;
  margin-bottom: 1px;
}
@media (min-width : 100px) and (max-width : 900px){
  .topbar{
    z-index: 100;
    position: fixed;
    visibility: visible !important;
    /* color: aliceblue; */
    
    opacity: 90%;
    .cap{
      font-size:12px ;
    }
  }
  
  /* #drop{
    background-color: rgb(40, 29, 40);
    width: 700px;
    height: 500px;
  } */
  .first-section {
    display: flex;
    flex-direction: column !important;

    margin-left: 0px !important;
    /* justify-content: space-between; */
  }
  .picture{
    height: 600px !important;
  }
  .footer{
    height:496px;
  }
  .footer-div{
    text-align: right;
    margin-top: -33%;
    margin-right: 20px;
  }
  img{
    height: 70% !important;
    width: 70% !important;
  }
  li{
    font-size: 0.9rem;
    color: black;
    white-space: pre-line;
  }
  p{
    border-width: 90px;
    font-size: 1rem !important;
    
  } 
  .bar{
    height: 400px;
    width: 80%!important;
  
    
  }
  .about{
    margin-top: 2px;
  }
  .contact{
    margin-top: 2px;
  }
  .skills{
    margin-top: 2px;
  }
  .resume{
    margin-top: 2px;
  }
  .picture{
    height: 90%;
  }
  h4{
    margin-top: 8px;
  }

  img{
    height: 80%;
    width: 80%;
  }
  h5{
    color: white;
    font-size: 10px;
  }

  
 
 
}

.App-header {

 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color:  rgb(221, 170, 221);  

}


