.App {
  text-align: center;

}
.picture{
  height:80%;
  width: 100%;
  background-color: rgb(16, 15, 15);
  border-radius: 10px;
}
.picture-text{
  font-size: 1.5rem;
  color: rgb(221, 170, 221);
}


.first-section{
  display: flex;
  flex-direction: row !important;
  margin-top: 6%;
  margin-left: 300px;
}
li{
  font-size: 1.2rem;
  color: black;
  white-space: pre-line;
}
h4{
  color: purple;
  /* margin: 30px; */
}
img{
  height: 80%;
  width: 80%;
}

.skills{
  height:590px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
}
.about{
  height:300px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
}
.cv-text{
  color: black;
}
.footer{
  background-image: linear-gradient(rgb(28, 27, 27),rgb(14, 13, 13));
  height:480px;
  width: 100%;
  border-radius: 9px;
  /* text-align: left; */
}
.footer-text{
  color: white;
  text-align: left;
}
.footer-head{
  color: rgb(198, 65, 198);
  font-size: 1.4rem;
}
.footer-div{
  text-align: right;
  margin-top: -30%;
  margin-right: 96px;
}
.contact{
  height:440px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
}
.contactdetails{
  color: purple;
  text-align: left;
}
.list{
  text-align: left;
}
.contact-text{
  color: black;
}
.contactnotes{
  color: black;
  border-width: 100%;
}
.resume{
  height:200px;
  width: 100%;
  background-color: rgb(227, 222, 222);
  border-radius: 9px;
  

}
.bar{
  height: 500px;
  border-width: 650px;
  width: 78%;
}
.second-section{
  padding-top: 9px;
}
.type{
  color: purple;
}

@media (min-width : 100px) and (max-width : 900px){
  .first-section {
    display: flex;
    flex-direction: column !important;
    margin-top: 6%;
    margin-left: 0px !important;
    /* justify-content: space-between; */
  }
  .footer-div{
    text-align: right;
    margin-top: -33%;
    margin-right: 20px;
  }
  img{
    height: 100%;
    width: 100%;
  }
  li{
    font-size: 0.9rem;
    color: black;
    white-space: pre-line;
  }
  p{
    border-width: 90px;
    font-size: 1rem !important;
    
  } 
  .bar{
    height: 400px;
    width: 99%;
    border-width: 90px !important;
    
  }
  .about{
    margin-top: 2px;
  }
  .contact{
    margin-top: 2px;
  }
  .skills{
    margin-top: 2px;
  }
  .resume{
    margin-top: 2px;
  }
  .picture{
    height: 90%;
  }
  h4{
    margin-top: 8px;
  }
}

.App-header {
  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color:  rgb(221, 170, 221);
}



